// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')

@import "_mixins/font-face"

+font-face("roboto-g", "../fonts/RobotoRegular/RobotoRegular")
+font-face("roboto-g", "../fonts/RobotoBold/RobotoBold", bold)
+font-face("roboto-g", "../fonts/RobotoMedium/RobotoMedium", 500)
+font-face("roboto-g", "../fonts/RobotoBlack/RobotoBlack", 800)
+font-face("baron-g", "../fonts/BaronBold/BaronBold", bold)
+font-face("baron-g", "../fonts/BaronBlack/BaronBlack", 800)
+font-face("raleway", "../fonts/RalewayBold/RalewayBold", bold)
+font-face("raleway", "../fonts/RalewayExtraBold/RalewayExtraBold, 800)
+font-face("raleway", "../fonts/RalewayRegular/RalewayRegular")
+font-face("raleway", "../fonts/RalewayLight/RalewayLight, 300)
+font-face("raleway", "../fonts/RalewaySemiBold/RalewaySemiBold, 600)
+font-face("raleway", "../fonts/RalewayThin/RalewayThin, 100)
+font-face("firasans", "../fonts/FiraSansRegular/FiraSansRegular, 100) 